/* resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace, sans-serif, serif;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

h2 {
  font-size: 28px;
  padding: 20px;
}

header,
section,
footer {
  min-height: 100vh;
}


@media (min-width: 768px) {
  h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 40px;
    padding: 40px;
  }
}

/* header */

header {
  display: flex;
  background-image: url("https://source.unsplash.com/user/pineapple");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

header a {
  margin: auto;
  padding: 20px 40px;
  background-color: rgba(59, 59, 59, 0.7);
  border-radius: 1%;
  color: #fff;
  transition: all 0.2s ease;
}

header a:hover {
  background-color: rgba(59, 59, 59, 0.8);
}

/* destaque */

.destaque {
  background-color: yellow;
  text-align: center;
  padding-bottom: 20px;
  display: flex;
  flex-flow: column;
}

.destaque h3 {
  font-size: 24px;
}

.destaque ul {
  margin: auto;
  display: flex;
  flex-flow: column;
}

.destaque li {
  margin: 30px;
}

.destaque img {
  max-height: 100%;
  width: 240px;
}

@media (min-width: 768px){

  .destaque h3 {
    font-size: 34px;
  }

  .destaque li {
    margin: 60px;
  }

  .destaque img {
    width: 340px;
  }

}

@media (min-width: 1024px){
  .destaque ul {
    flex-flow: row;
    margin: 60px auto;
  }
}

/* contato */

.contato {
  display: flex;
  flex-flow: column;
  text-align: center;
  font-size: 18px;
}

.contato p,
.contato ul {
  margin: auto;
}

.contato p {
  padding: 10px;
}

.contato li {
  margin: 60px auto;
}

.contato a {
  padding: 20px 10px;
  background-color: rgba(250, 255, 0, 0.6);
  color: rgb(77, 224, 0);
  transition: all 0.2s ease;
}

.contato a:hover {
  background-color: rgba(250, 255, 0, 1);
}

@media (min-width: 768px) {
  .contato {
    font-size: 28px;
  }

  .contato li {
    margin: 100px auto;
  }

  .contato a {
    padding: 30px 70px;
  }

}


/* footer */

footer {
  background-color: yellow;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

footer ul {
  margin: auto;
  display: flex;
  flex-flow: column;
}

footer li {
  margin: 50px auto;
}

footer a {
  font-size: 50px;
  transition: all 0.2s ease;
}

footer a:hover {
  font-size: 63px;
}

@media (min-width: 768px) {

  footer li {
    margin: 90px auto;
  }

}

@media (min-width: 1024px) {
  footer ul {
    flex-flow: row;
  }

  footer li {
    margin: auto 80px;
  }
}
