/* reset */

* {
  margin: 0;
  padding: 0;
  font-family: monospace, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

header,
section,
footer {
  min-height: 100vh;
}

p {
  font-family: Arial, sans-serif;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 34px;
  margin-top: 30px
}

h3 {
  font-size: 30px;
  text-align: center;
}

@media (min-width: 768px){
  h2 {
    font-size: 58px;
  }

  h3 {
    font-size: 44px;
  }

  p {
    font-size: 32px;
  }
}

/* header */

header {
  background-image: url("https://source.unsplash.com/user/pineapple");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: column;
  background-attachment: fixed;
}

h1 {
  font-size: 38px;
  text-align: center;
  font-weight: bold;
  color: #FFF;
  z-index: 2;
  letter-spacing: 1px;
}

header a {
  margin: auto;
  display: inline-block;
  background-color: rgba(0, 0, 0 ,0.4);
  color: #FFF;
  padding: 16px 10px;
  border-radius: 4px;
  transition: all 0.2s ease;
  text-align: center;
  font-weight: bold;
  color: #FFF;
}

header a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

@media (min-width: 768px){
  h1 {
    font-size: 70px;
  }
}

/* destaque */

.destaque ul {
  display: flex;
  flex-flow: column;
}

.destaque li {
  padding: 20px 0;
  margin: auto;
  display: flex;
  flex-flow: column;
}

.destaque img {
  height: 180px;
  margin: auto;
}


.destaque h3 {
  padding: 20px 0;
}

@media (min-width: 768px){
    .destaque img {
      height: 300px;
    }
}

/* contato */

.contato {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.contato p {
  margin: 60px auto;
  max-width: 90%;

}

.contato ul {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-bottom: 50px;
}

.contato li {
  margin: 30px auto;
}

.contato a {
  background-color: rgba(255, 230, 0 ,0.7);
  padding: 16px;
  margin: auto;
  font-size: 18px;
  color: rgb(36, 181, 0);
}

.contato a:hover {
  background-color: rgba(255, 230, 0, 0.9);
}


@media (min-width: 768px){

  .contato li  {
    margin: 60px auto;
  }

  .contato a {
    font-size: 36px;
    padding: 28px;
  }
}

/* footer */

footer {
  background-color: rgb(255, 230, 0);
  display: flex;
  flex-flow: column;
}

footer ul {
  margin: auto;
  display: flex;
  flex-flow: column;
}

footer li {
  margin: 40px auto;
}

footer a {
  font-size: 50px;
}

@media (min-width: 768px) {
  footer a {
    font-size: 100px;
  }
}
